body {
    margin: 5%;
    background: #faebd0;
    text-align: justify
}

P {
    text-indent: 1em;
    margin-top: .25em;
    margin-bottom: .25em;
}

H1, H2, H3, H4, H5, H6 {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

hr {
    width: 50%;
    text-align: center;
}

.foot {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    text-indent: -3em;
    font-size: 90%;
}

blockquote {
    font-size: 97%;
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
}

.mynote {
    background-color: #DDE;
    color: #000;
    padding: .5em;
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
    font-size: 95%;
}

.toc {
    margin-left: 10%;
    margin-bottom: .75em;
}

.toc2 {
    margin-left: 20%;
}

div.fig {
    display: block;
    margin: 0 auto;
    text-align: center;
}

div.middle {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

.figleft {
    float: left;
    margin-left: 0%;
    margin-right: 1%;
}

.figright {
    float: right;
    margin-right: 0%;
    margin-left: 1%;
}

.pagenum {
    display: inline;
    font-size: 70%;
    font-style: normal;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1%;
    text-align: right;
}

pre {
    font-style: italic;
    font-size: 90%;
    margin-left: 10%;
}
